body{
    text-align: center;
    background-color:lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkslategrey;
    font-size: 16px;
}
span{
    background-color: cornflowerblue;
    color: white;
    font-size: 8px;
    padding: 5px;
    border-radius: 5px;
}
footer{
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 1em;
}
footer a{color: #90e0ef;text-decoration: none;}
#cabecera{
    background-color: darkslategrey;
    color: white;
    padding: 2em;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    background-color: white;
    margin: 0 auto;
    width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    padding-bottom: 5em;
}
#container h1{
    font-size: 2em;
    font-weight: bold;
}